{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>History</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Stock</th>
                <th>Shares</th>
                <th>Share Price</th>
                <th>Total Price</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
                {% for item in stocks %}
                <tr>
                    <td>{{item.type}}</td>
                    <td>{{item.stock}}</td>
                    <td>{{item.shares}}</td>
                    <td>{{item.share_price | usd}}</td>
                    <td>{{item.price | usd}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
