{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h2>Index</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th style="text-align: right">Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
                {% for item in stocks %}
                <tr>
                    <td>{{item.stock}}</td>
                    <td>{{item.shares}}</td>
                    <td style="text-align: right">{{item.price | usd}}</td>
                    <td>{{item.total | usd}}</td>
                </tr>
                {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td id = "cash" colspan="3" style="text-align: right; font-weight: bold;">Cash</td>
                <td>{{cash | usd}}</td>
            </tr>
            <tr>
                <td id = "total" colspan="3" style="text-align: right; font-weight: bold;">TOTAL</td>
                <td>{{total | usd}}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
